<header>
  <style> 
    .buttons {
      background-color: hwb(20 96% 2%);
      border: 2px solid rgb(105, 104, 104);
      border-radius: 4px;
      color: rgb(0, 0, 0);
      padding: 6px 18px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }

    .loginButton {
      border: 2px solid rgb(0, 0, 0);
    }

    .registerButton {
      border: 2px solid rgb(0, 0, 0);
    }

  </style>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <div>
        <% if (user?.email) { %>
            <form method="POST" action="/logout">
              <label for="loggedin">Logged In As: <%= user.email  %> </label>
              <!-- <a class="nav-item nav-link" href="/logout">Logout</a> -->
              <button>Logout</button>
            </form>
        <% } else { %>
            <form method="GET" action="/login">
              <a class="nav-item nav-link" href="/login">Login</a>
              <!-- <button class="buttons loginButton">Login</button> -->
            </form>
            <form method="GET" action="/register">
              <a class="nav-item nav-link" href="/register">Register</a>
              <!-- <button class="buttons registerButton">Register</button> -->
            </form>
        <% } %>
      </div>
    </div>
  </nav>
</header>