<header>
  <style> 
    .buttons {
      background-color: hwb(20 96% 2%);
      /* border: 2px solid rgb(105, 104, 104); */
      border-radius: 4px;
      color: rgb(0, 0, 0);
      padding: 4px 54px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }

    .nav-user {
      line-height: 40px;
      margin: 0 20px;
    }

    .loginButton {
      border: 2px solid rgb(0, 0, 0);
    }

    .registerButton {
      border: 2px solid rgb(0, 0, 0);
    }

  </style>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/tinyapp">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      </div>
      <div>
        <% if (user?.email) { %>
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/urls">My URLs</a>
            <a class="nav-item nav-link" href="/urls/new">New Tiny URL</a>
            <span class="nav-item nav-user">Logged In As: <%= user.email  %></span>
            <a class="nav-item nav-link" href="/logout">Logout</a>
          </div>
        <% } else { %>
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Register</a>
          </div>
        <% } %>
      </div>
    </div>
  </nav>
</header>